<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Masjid Al-gamamah</title>
    <link rel="stylesheet" href="gamamah.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="index.html"
          ><img src="../../assest/img/masjid.jpg" alt=""
        /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Masjid</a></li>
            <li><a href="">Sejarah Muslim</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu ()"></i>
      </nav>
    </section>

    <section class="home" id="home">
      <h6 class="date-content">
        <span>Sabtu, 20 Juli 2019</span>
      </h6>
      <div class="content">
        <h3>Masjid Al-Ghamamah Madinah</h3>
        <img src="../../assest/masjid/Masjid Al-Ghamamah.jpg" alt="" />
        <p>
          Masjid Al-Ghamamah adalah salah satu masjid bersejarah di kota
          Madinah, Arab Saudi. Lokasi masjid ini berada sekitar 300 meter
          sebelah barat daya Masjid Nabawi, tak bejauhan dengan Masjid Abu Bakar
          Siddiq R.A dan Masjid Ali Bin Abi Thalib R.A. Bangunan masjid ini
          dibangun untuk mengenang beberapa peristiwa penting dimasa kehidupan
          Rosulullah S.A.W. dan peristiwa peristiwa penting tersebut juga yang
          hingga kini melekat sebagai nama masjid ini. Masjid ini bersama masjid
          masjid bersejarah yang berada disekitar Masjid Nabawi lainnya sempat
          di kabarkan berbagai media, akan di gusur oleh pemerintah Arab Saudi
          dalam rangka proyek perluasan Masjid Nabawi. Hal tersebut lebih kepada
          ke khawatiran akan lenyapnya situ situs sejarah Islam disana seperti
          yang sudah dilansir berbagai media bagaimana mega proyek perluasan
          Masjidil Haram di kota Mekah telah menyebabkan lenyapnya situs situs
          sejarah disana.
        </p>
      </div>

      <!-- Google Maps Embed -->
      <div id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.821494200014!2d39.615630514356874!3d24.468410064499965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x877b0d62844bb091!2sMasjid%20Al-Ghamamah!5e0!3m2!1sen!2sus!4v1627548491799!5m2!1sen!2sus"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <p>
        Namun, hingga tulisan ini kami muat, masjid masjid bersejarah disekitar
        Masjid Nabawi masih berdiri kokoh ditempatnya dengan bentuk aslinya dan
        pemerintah Arab Saudi juga telah melakukan langkah langkah konservasi
        terhadap bangunan bangunan tersebut termasuk renovasi dan penataan
        kawasan disekitarnya bersamaan dengan proyek perluasan Masjid Nabawi.
        Lokasi Masjid Al-Ghamamah saat ini hanya terpaut beberapa meter dari
        sudut barat daya areal pelataran Masjid Nabawi paska perluasan. Sehingga
        komplek Masjid Nabawi pun terlihat jelas dari masjid ini begitupun
        sebaliknya. Lokasi masjid Al-Ghamamah juga berdekatan dengan dua masjid
        bersejarah lainnya yakni Masjid AbuBakar Sidik dan Masjid Sahabat Ali
        bin Abi Thalib.
      </p>
      <br />
      <h2>Nama dan Sejarah Masjid Al-Ghamamah</h2>

      <p>
        Disebut sebagai masjid Al-Ghamamah yang berarti awan mendung, di lahan
        masjid ini berdiri merupakan tempat Rosulullah S.A.W melaksanakan Sholat
        Istisqo’ untuk memohon kepada Allah agar diturunkan hujan. Dan segera
        setelah pelaksanaan sholat awan mendung pun datang menggelayut disusul
        dengan turun-nya hujan. Itu sebabnya sampai kini masjid ini disebut
        Masjid Al-Ghamamah, mengabadikan peristiwa di masa Rosulullah tersebut.
      </p>

      <img src="../../assest/masjid/Masjid Al-Ghamamah2.jpg" alt="" />
    </section>

    <script src="../MenuToggle.js"></script>
  </body>
</html>
