<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Masjid Al-gamamah</title>
    <link rel="stylesheet" href="masjid.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="index.html"
          ><img src="../../assest/img/masjid.jpg" alt=""
        /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Masjid</a></li>
            <li><a href="">Sejarah Muslim</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu ()"></i>
      </nav>
    </section>

    <section class="home" id="home">
      <h6 class="date-content">
        <span>Sabtu, 20 Juli 2019</span>
      </h6>
      <div class="content">
        <h3>Masjid Al-Ghamamah Madinah</h3>
        <img src="../../assest/masjid/Masjid Al-Ghamamah.jpg" alt="" />
        <p>
          Masjid Al-Ghamamah adalah salah satu masjid bersejarah di kota
          Madinah, Arab Saudi. Lokasi masjid ini berada sekitar 300 meter
          sebelah barat daya Masjid Nabawi, tak bejauhan dengan Masjid Abu Bakar
          Siddiq R.A dan Masjid Ali Bin Abi Thalib R.A. Bangunan masjid ini
          dibangun untuk mengenang beberapa peristiwa penting dimasa kehidupan
          Rosulullah S.A.W. dan peristiwa peristiwa penting tersebut juga yang
          hingga kini melekat sebagai nama masjid ini. Masjid ini bersama masjid
          masjid bersejarah yang berada disekitar Masjid Nabawi lainnya sempat
          di kabarkan berbagai media, akan di gusur oleh pemerintah Arab Saudi
          dalam rangka proyek perluasan Masjid Nabawi. Hal tersebut lebih kepada
          ke khawatiran akan lenyapnya situ situs sejarah Islam disana seperti
          yang sudah dilansir berbagai media bagaimana mega proyek perluasan
          Masjidil Haram di kota Mekah telah menyebabkan lenyapnya situs situs
          sejarah disana.
        </p>

        <!-- Google Maps Embed -->
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.821494200014!2d39.615630514356874!3d24.468410064499965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x877b0d62844bb091!2sMasjid%20Al-Ghamamah!5e0!3m2!1sen!2sus!4v1627548491799!5m2!1sen!2sus"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>

        <p>
          Namun, hingga tulisan ini kami muat, masjid masjid bersejarah
          disekitar Masjid Nabawi masih berdiri kokoh ditempatnya dengan bentuk
          aslinya dan pemerintah Arab Saudi juga telah melakukan langkah langkah
          konservasi terhadap bangunan bangunan tersebut termasuk renovasi dan
          penataan kawasan disekitarnya bersamaan dengan proyek perluasan Masjid
          Nabawi. Lokasi Masjid Al-Ghamamah saat ini hanya terpaut beberapa
          meter dari sudut barat daya areal pelataran Masjid Nabawi paska
          perluasan. Sehingga komplek Masjid Nabawi pun terlihat jelas dari
          masjid ini begitupun sebaliknya. Lokasi masjid Al-Ghamamah juga
          berdekatan dengan dua masjid bersejarah lainnya yakni Masjid AbuBakar
          Sidik dan Masjid Sahabat Ali bin Abi Thalib.
        </p>
        <br />
        <h2>Nama dan Sejarah Masjid Al-Ghamamah</h2>

        <p>
          Disebut sebagai masjid Al-Ghamamah yang berarti awan mendung, di lahan
          masjid ini berdiri merupakan tempat Rosulullah S.A.W melaksanakan
          Sholat Istisqo’ untuk memohon kepada Allah agar diturunkan hujan. Dan
          segera setelah pelaksanaan sholat awan mendung pun datang menggelayut
          disusul dengan turun-nya hujan. Itu sebabnya sampai kini masjid ini
          disebut Masjid Al-Ghamamah, mengabadikan peristiwa di masa Rosulullah
          tersebut.
        </p>

        <img src="../../assest/masjid/Masjid Al-Ghamamah2.jpg" alt="" />
        <p>
          Masjid ini juga disebut sebagai masjid Id atau masjid Hari Raya,
          karena dalam sejarahnya, lokasi tempat masjid ini berdiri merupakan
          tempat Nabi Muhammad S.A.W melaksanakan sholat hari raya di empat
          tahun terahir kehidupan Beliau. Perlu di ketahui bahwa pada masa
          Rosulullah di tempat ini hanyalah tanah lapang yang beliau gunakan
          untuk melaksanakan sholat, belum berbentuk sebuah bangunan masjid.
        </p>

        <p>
          Dilokasi ini atau di lokasi yang berdekatan dengan lokasi masjid ini,
          Rosulullah S.A.W pernah melaksanakan sholat jenazah bagi Najashi.
          Beliau adalah Kaisar Aksum di Abbysinia (kini Ethiopia). Dalam riwayat
          disebutkan bahwa Najashi adalah seorang raja di kerajaan Aksum di
          Ethiopia yang beragama Kristen, namun menyambut baik kedatangan kaum
          muslimin yang mengungsi ke negerinya menghindar dari kekejaman kafir
          Quraisy Mekah. Dikemudian hari Najashi pun berikrar masuk Islam.
        </p>

        <p>
          Ketika Najashi wafat, tak ada siapapun yang bersedia memimpin sholat
          jenazah baginya dan kemudian Rosulullah yang men-sholatkan beliau
          secara ghaib. Peristiwa ini merupakan satu satunya peristiwa
          Rosulullah melakukan sholat ghaib atau sholat jenazah tanpa kehadiran
          dari jenazah yang di sholatkan.
        </p>

        <img src="../../assest/masjid/2Masjid Al-Ghamamah.jpg" alt="" />
        <p>Peristiwa tersebut terekam dalam salah satu hadist Rosulullah;</p>
        <p>
          Abu Hurairah RA meriwayatkan bahwa Rasulullah SAW mengumumkan kematian
          Al-Najasyi pada hari kematiannya. Kemudian, beliau keluar menuju
          tempat shalat. Lalu, beliau membariskan shaf, kemudian bertakbir empat
          kali. (HR Bukhari dan Muslim).
        </p>

        <h1>Pembangunan Masjid Al-Ghamamah</h1>
        <p>
          Masjid Al-Ghamamah pertama kali dibangun pada masa pemerintahan
          Khalifah Umar bin Abdul Aziz di Madinah antara tahun 89 hingga tahun
          93 Hijriah (jangan sampai keliru dengan Khalifah Umar Bin Khattab).
          Bangunan tersebut kemudian direnovasi oleh Sultan dinasti Mamluk,
          Sultan Hasan bin Muhammad bin Qalawan Ash-Shalihi sebelum tahun 761
          Hijriah.Kemudian perbaikan perbaikan oleh Syarif Saifuddin Inal
          Al-Ala'i pada tahun 861 Hijriah.
        </p>

        <p>
          Setelah itu, Sultan Abdul Majid I semasa kekuasaan Khalifah Islamiyah
          di Istabul - Turki pada tahun 1275 Hijriah / 1859 melakukan renovasi
          ke bentuk masjidnya seperti saat ini, selain perbaikan-perbaikan yang
          dilakukan oleh Sultan Abdul Hamid dan di renovasi kembali oleh Raja
          Fahd bin Abdul Aziz Al Saud, selaku Raja Saudi Arabia.
        </p>

        <img src="../../assest/masjid/4 Masjid Al-Ghamamah.jpg" alt="" />
        <p>
          Masjid Al-Ghamamah kembali direnovasi secara menyeluruh oleh
          pemerintah Arab Saudi bersamaan dengan perluasan Masjid Nabawi dengan
          membangun dan menata kawasan disekitar masjid ini yang disinkronkan
          dengan Masjid Nabawi, yang pelataran sisi selatan-nya kini sudah
          sangat dekat dengan masjid Al-Ghamamah, karenanya Masjid Al-Ghamamah
          ini tidak lagi digunakan untuk penyelenggaraan sholat lima waktu yang
          sudah dialihkan ke Masjid Nabawi.
        </p>

        <h1>Arsitektur Masjid Al-Ghamamah</h1>
        <p>
          Masjid Al-Ghamamah ini dibangun dalam arsitektur bangunan masjid
          bergaya klasik, tidak seutuhnya bergaya usmani meski sempat berada di
          bawah kekuasaan dinasti Turki Usmani. Denah bangunannya berbentuk
          persegi panjang, terdiri dari dua bagian; bagian beranda dan ruang
          shalat utama. Berandanya berbentuk persegi panjang dengan panjang 26
          meter dan lebar empat meter, di bagian atapnya dilengkapi dengan lima
          kubah, dilengkapi dengan lengkungan lengkungan.
        </p>

        <p>
          Ruang sholat berukuran panjang 30 meter dan lebar 15 meter, ruangannya
          seolah terbadi dua oleh jejeran pilar pilar berlengkung penyanggah
          struktur atap. Bagian atapnya terdapat enam kubah, atap masjid
          dibangun lebih tinggi dibandingkan atap bagian berandanya. Enam kubah
          diatap masjid ini dibangun dua jejer dengan kubah paling besar berada
          di bagian atas area mihrab yang menghadap ke selatan. Karena posisi
          Kota Madinah berada disebelah utara dari Ka’bah di kota Mekah, arah
          kiblat masjid ini menghadap ke selatan.
        </p>

        <img src="../../assest/masjid/5 Masjid Al-Ghamamah.jpg" alt="" />
        <p>
          Bentuk jendela nya sangat khas, perpaduan dua jendela dengan bagian
          atas berbentuk oval dibagian atasnya ditempatkan satu jendela bundar.
          Padanan jendela jendela ini ditempatkan di semua sisi masjid. Pintunya
          dibuat dari kayu yang dihias ukiran khat Utsmani. Masjid Al-Ghamamah
          dilengkapi dengan satu menara yang dibangun menyatu dengan bagian
          masjid di pojok barat laut bangunan utama.
        </p>

        <p>
          Secara keseluruhan sisi luar Masjid Al-Ghamamah dihiasi dengan lapisan
          batu basal hitam. Sementara itu, bagian atas kubahnya dipoles dengan
          warna putih. Di bagian dalam, dinding dan cekungan kubah dipoles
          dengan warna putih. Tiang-tiang penyangga masjid dipoles dengan warna
          hitam sehingga memberikan pemandangan indah pada masjid dengan dua
          warna yang serasi***.
        </p>
      </div>
    </section>

    <script src="../MenuToggle.js"></script>
  </body>
</html>
