<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Masjid Abu Bakar Siddiq .R.A - Madinah</title>
    <link rel="stylesheet" href="masjid.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="index.html"
          ><img src="../../assest/img/masjid.jpg" alt=""
        /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Masjid</a></li>
            <li><a href="">Sejarah Muslim</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu ()"></i>
      </nav>
    </section>

    <section class="home" id="home">
      <h6 class="date-content">
        <span>Sabtu, 20 Juli 2019</span>
      </h6>
      <div class="content">
        <h3>Masjid Abu Bakar Siddiq .R.A – Madinah</h3>
        <img
          src="../../assest/masjid/Masjid Abu Bakar Siddiq Madinah.jpg"
          alt=""
        />
        <p>
          Masjid Abu Bakar Siddiq R.A.merupakan salah satu dari tiga masjid tua
          bersejarah yang “tempatnya berdiri” berhubungan erat dengan sejarah
          awal perkembangan risalah Islam di kota Madinah. Lokasi masjid Abu
          Bakar Assidik berada di sisi barat daya Masjid Nabawi. Pelataran
          Masjid Nabawi setelah perluasan hanya berjarak beberapa meter dari
          masjid ini.
          <br />
          Lokasi Masjid Abu Bakar Assidiq ini sangat berdekatan dengan Masjid
          Ghamama dan Masjid Ali. Hanya terpaut sekitar 40 meter dari Masjid
          Ghamama dan pada saat pemerintah Arab Saudi meluncurkan proyek
          perluasan Masjid Nabawi, tiga masjid ini sempat menjadi buah bibir
          karena disebut sebut akan dibongkar untuk keperluan proyek perluasan
          Masjid Nabawi. Namun saat proyek perluasan berlangsung, pemerintah
          Arab Saudi justru merenovasi masjid masjid bersejarah ini.
        </p>

        <!-- Google Maps Embed -->
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.821494200014!2d39.615630514356874!3d24.468410064499965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x877b0d62844bb091!2sMasjid%20Abu%20Bakr%20Siddiq%20RA%20Al%20Haram!5e0!3m2!1sen!2sus!4v1627548491799!5m2!1sen!2sus"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>

        <p>
          Renovasi yang dilakukan pemerintah Saudi lebih kepada perbaikan masjid
          dengan tetap mempertahankan bentuk aslinya serta melakukan penataan
          kawasan disekitar masjid ini sehingga tampak lebih apik serta
          disinkronkan dengan kawasan Masjid Nabawi. Keseluruhan kawasan
          disekitar tiga masjid ini dirapikan dengan dilapis dengan lantai batu
          dari berbagai jenis ditambah dengan bangku bangku dari batu dan
          penanaman pepohonan pelindung.
          <br />
          <br />
          Pada saat proses renovasi masjid masjid ini ditutup termasuk masjid
          Abu Bakar Assidiq, dan kemudian dibuka lagi untuk umum setelah
          renovasi dan proyek penataan selesai dilaksanakan. Namun demikian
          tidak seperti Masjid Al-Ghamamah yang pintunya selalu dibuka sehingga
          Jemaah bisa masuk ke dalam masjid, Masjid Abu Bakar ini pintunya tidak
          pernah dibuka untuk umum.
        </p>
        <img
          src="../../assest/masjid/masjidAbubakarassidiq/Masjid Abu Bakar Siddiq Madinah (6).jpg"
          alt=""
        />

        <p>
          Beberapa Jemaah yang datang kesana dan sepertinya memang berniat untuk
          sholat di masjid ini tampak melakukan ibadah shoat sunnat di depan
          pintu masjid. Tiga masjid bersejarah ini memang tidak lagi
          menyelenggarakan sholat lima waktu, karena sudah dialihkan ke Masjid
          Nabawi yang kini sudah begitu dekat terutama setelah proyek perluasan.
        </p>
        <br />

        <h2>Sejarah Masjid Abu Bakar Siddiq</h2>
        <br />

        <p>
          Ada dua versi tentang latar belakang sejarah Masjid Abu Bakar, versi
          pertama menyebutkan bahwa di lokasi masjid ini, Khalifah Abu Bakar
          Siddiq semasa hidupnya pernah menyelenggarakan sholat Hari Raya
          bersama Rosululah dan muslim terdahulu. Versi kedua menyebutkan bahwa
          dilokasi tempat masjid ini berdiri dulunya merupakan rumah kediaman
          Abu Bakar Siddiq. R.A. Bisa jadi kedua peristiwa tersebut saling
          berkaitan satu dengan lainnya.
        </p>
        <br />

        <img
          src="../../assest/masjid/masjidAbubakarassidiq/Masjid Abu Bakar Siddiq Madinah (4).jpg"
          alt=""
        />
        <p>
          Karena latar belakang sejarah tersebutlah, masjid ini dibangun di
          lokasi ini. Kemudian dibangun sebuah masjid untuk megenang sejarah
          tersebut oleh Khalifah Umar Bin Abdul Aziz sekitar tahun ke 50H.
          Masjid tersebut kemudian dibangun ulang dalam bentuknya sekarang oleh
          Sultan Mahmud Khan al-Utsmani (Sultan Mahmud II, wafat tahun 1255 H/
          1839M).
        </p>

        <p>
          Bangunan masjid dari masa Sultan Mahmud Khan Al-Usmani tersebut
          kemudian direnovasi oleh Raja Fahd tahun 1411H tanpa mengubah bentuk
          aslinya. Luas Masjid Abu Bakar Siddiq ini berukuran 19.5 x 15 m, lebih
          kecil dibandingkan dengan Masjid Al-Ghamamah.
          <br />

          Karena tidak difungsikan sebagai tempat ibadah dan pintunya pun selalu
          terkunci, Masjid Abu Bakar Siddiq ini kini lebih sebagai sebuah
          bangunan prasasti pengingat sejarah masa lampau. Meski bangunannya
          terawatt dengan baik, beberapa bagian masjid terutama pada bagian
          pintu terdapat banyak sekali coretan coretan baik dengan hurup arab
          maupun dengan hurup latin. Entahlah apa tujuan dari orang orang pelaku
          pencoretan tersebut.
        </p>

        <img
          src="../../assest/masjid/masjidAbubakarassidiq/Masjid Abu Bakar Siddiq Madinah (3).jpg"
          alt=""
        />
        <p><b>Arsitektur Masjid Abu Bakar Siddiq</b></p>
        <p>
          Masjid Abu Bakar Siddiq dibangun dalam gaya klasik era awal Usmaniyah.
          Terdiri dari dua bangunan yakni bangunan masjid dengan kubah besar
          haya Byzantium di atapnya, ditambah dengan satu menara degan satu
          balkoni berukiran qurnis dan ujung menara nya dibuat lancip seperti
          lazimnya masjid masjid Usmani. Menara ini dibangun disi utara menempel
          dengan bangunan masjid. Fasad depannya dilapis dengan batu batu alam
          hitam.
        </p>
        <p>
          Ada dua pintu akses di masjid ini yang sedikit masuk ke dalam tembok
          bangunan membentuk sebuah ceruk berlengkung yang tak terlalu dalam.
          Dua pintu ini dibuat senada, terbuat dari bahan kayu tanpa ornamen.
          Pintu utama berada ditengah dengan bukaan yang berukuran lebih besar,
          dibagian atasnya terdapat tulisan nama masjid ini dalam aksara
          arab.***
        </p>
        <img
          src="../../assest/masjid/masjidAbubakarassidiq/Masjid Abu Bakar Siddiq Madinah (7).jpg"
          alt=""
        />
        <p>
          Setelah itu, Sultan Abdul Majid I semasa kekuasaan Khalifah Islamiyah
          di Istabul - Turki pada tahun 1275 Hijriah / 1859 melakukan renovasi
          ke bentuk masjidnya seperti saat ini, selain perbaikan-perbaikan yang
          dilakukan oleh Sultan Abdul Hamid dan di renovasi kembali oleh Raja
          Fahd bin Abdul Aziz Al Saud, selaku Raja Saudi Arabia.
        </p>

        <img
          src="../../assest/masjid/masjidAbubakarassidiq/Masjid Abu Bakar Siddiq Madinah (20).jpg"
          alt=""
        />
      </div>
    </section>

    <script src="../MenuToggle.js"></script>
  </body>
</html>
