<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Masjid Info</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="index.html"><img src="../assest/img/masjidnobg.png" alt="" /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Masjid</a></li>
            <li><a href="">Sejarah Muslim</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu ()"></i>
      </nav>
    </section>

    <!-- artikel -->

    <section class="artikel">
      <h1>Terpopuler</h1>
      <br>
      <div class="card-deck">
        <div class="card">
          <a href="./Al-gamamah/gamamah.html" target="_blank">
          <img
            src="../assest/masjid/Masjid Al-Ghamamah.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Masjid <br>Al-Ghamamah</h5>
            <p class="card-text">
              Masjid Al-Ghamamah merupakan salah satu masjid bersejarah di kota Madinah, di lokasi tempat masjid ini berdiri pernah menjadi tempat Rosulullah melaksanakan sholat Istisqo' (sholat meminta hujan) dan setelah itu awang mendung (Al-Ghomammah) pun menggelayut diatas tempat itu.
            </p>
          </div>
        </a>
        </div>
        <div class="card">
          <a href="https://www.masjidinfo.net/2019/07/masjid-abu-bakar-siddiq-ra-madinah.html" target="_blank">
          <img
            src="../assest/masjid/Masjid Abu Bakar Siddiq Madinah.jpg"
            class="card-img-top"
            alt="..."
            
          />
          <div class="card-body">
            <h5 class="card-title">Masjid <br>Abu Bakar Siddiq Madinah</h5>
            <p class="card-text">
              Masjid Abu Bakar Siddiq R.A.merupakan salah satu dari tiga masjid tua bersejarah yang “tempatnya berdiri” berhubungan erat dengan sejarah awal perkembangan risalah Islam di kota Madinah.
            </p>
          </div>
        </a>
        </div>
        <div class="card">
          <a href="https://www.masjidinfo.net/2020/01/masjid-miqot-bir-ali-madinah.html" target="_blank">
          <img
            src="../assest/masjid/masjid_miqot_bir_ali.jpg"
            class="card-img-top"
            alt="masjid #1"
          />
          <div class="card-body">
            <h5 class="card-title">Masjid <br>miqot bir ali</h5>
            <p class="card-text">
              Masjid Miqot Bir Ali atau Masjid Miqot Dhul Hulaifah adalah salah satu masjid tempat miqot  atau memulai ihram bagi Jemaah haji dan umroh yang berasal dari Madinah atau yang melalui Madinah.
            </p>
          </div>
        </div>
      </div>
    </section>

<!-- masjid --> 

<div class="masjid">
  <h1>Masjid lainnya</h1>
  <br>
  <div class="card-masjid">
    <div class="box">
      <a href="https://www.masjidinfo.net/2011/03/masjid-islamic-center-washington-dc.html" target="_blank">
        <img
          src="../assest/masjid/islamic-centre-washington-dc.jpg"
          class="box-img"
          alt="Masjid #2"
        />
        <div class="box-body">
          <h5 class="box-title">Masjid Islamic Center Washington DC, Amerika Serikat</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="card-masjid">
    <div class="box">
      <a href="#" target="_blank">
        <img
          src="../assest/masjid/Masjid Al-Ghamamah.jpg"
          class="box-img"
          alt="Masjid #3"
        />
        <div class="box-body">
          <h5 class="box-title">Masjid<br>Al-Ghamamah,<br> Saudi Arabia</h5>
        </div>
      </a>
    </div>
  </div>
  

  <div class="card-masjid">
    <div class="box">
      <a href="#" target="_blank">
        <img
          src="../assest/masjid/masjid Cheng Ho Pasuruan.jpg"
          class="box-img"
          alt="Masjid #4"
        />
        <div class="box-body">
          <h5 class="box-title">Masjid Cheng Ho Pasuruan,<br>Indonesia</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="card-masjid">
    <div class="box">
      <a href="#" target="_blank">
        <img
          src="../assest/masjid/masjid_sokotunggal_cikakak.jpg"
          class="box-img"
          alt="Masjid #5"
        />
        <div class="box-body">
          <h5 class="box-title">Masjid Saka Tunggal, Salah Satu Masjid Tertua di Indonesia</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="card-masjid">
    <div class="box">
      <a href="#" target="_blank">
        <img
          src="../assest/masjid/Masjid_almujahidin_cibarusah.jpg"
          class="box-img"
          alt="Masjid #6"
        />
        <div class="box-body">
          <h5 class="box-title">Masjid Al-Mujahidin Cibarusah,<br> Indonesia</h5>
          
        </div>
      </a>
    </div>
  </div>

  <div class="card-masjid">
    <div class="box">
      <a href="#" target="_blank">
        <img
          src="../assest/masjid/masjid besar bujangsalim.JPG"
          class="box-img"
          alt="Masjid #7"
        />
        <div class="box-body">
          <h5 class="box-title">Mesjid Besar Bujang Salim Krueng Geukuh, Indonesia</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="card-masjid">
    <div class="box">
      <a href="https://www.masjidinfo.net/2013/05/langgar-agung-keraton-kasepuhan-cirebon.html" target="_blank">
        <img
          src="../assest/masjid/bujangmasjid_langgar_agung_cirebon.jpg"
          class="box-img"
          alt="Masjid #8"
        />
        <div class="box-body">
          <h5 class="box-title">Langgar Agung Keraton Kasepuhan Cirebon,indonesia</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="card-masjid">
    <div class="box">
      <a href="https://singgahkemasjid.blogspot.com/2023/06/masjid-agung-bangli-provinsi-bali.html" target="_blank">
        <img
          src="../assest/masjid/masjid_agung_bangli_Ubay.jpg"
          class="box-img"
          alt="Masjid #9"
        />
        <div class="box-body">
          <h5 class="box-title">Masjid Agung Bangli Provinsi Bali, Indonesia</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="card-masjid">
    <div class="box">
      <a href="https://singgahkemasjid.blogspot.com/2017/01/masjid-azzawiyah-pekojan-jakarta-barat.html" target="_blank">
        <img
          src="../assest/masjid/masjid_azzawiyah.jpg"
          class="box-img"
          alt="Masjid #10"
        />
        <div class="box-body">
          <h5 class="box-title">Masjid Azzawiyah Pekojan, Jakarta Barat, Indonesia</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="card-masjid">
    <div class="box">
      <a href="https://singgahkemasjid.blogspot.com/2017/07/masjid-agung-baitussalam-nganjuk.html" target="_blank">
        <img
          src="../assest/masjid/masjid-agung-baitus-salam-nganjuk (3).jpg"
          class="box-img"
          alt="Masjid #11"
        />
        <div class="box-body">
          <h5 class="box-title">Masjid Agung Baitussalam Nganjuk,Indonesia</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="card-masjid">
    <div class="box">
      <a href="https://singgahkemasjid.blogspot.com/2021/07/masjid-jami-al-umari-kelayu-lombok-timur.html" target="_blank">
        <img
          src="../assest/masjid/singgahkemasjid_masjidumari_kelayu_02.jpg"
          class="box-img"
          alt="Masjid #12"
        />
        <div class="box-body">
          <h5 class="box-title">Masjid Jami' Al Umari Kelayu, Lombok Timur</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="card-masjid">
    <div class="box">
      <a href="https://singgahkemasjid.blogspot.com/2016/09/masjid-raya-binjai-warisan-kesultanan.html" target="_blank">
        <img
          src="../assest/masjid/Masjid Raya Binjai (1).jpg"
          class="box-img"
          alt="Masjid #12"
        />
        <div class="box-body">
          <h5 class="box-title">Masjid Raya Binjai, Warisan Kesultanan Langkat</h5>
        </div>
      </a>
    </div>
  </div>
</div>

</div>



<div class="btn-child">
<a href="" class="button-link">
  <button class="button">Masjid lainnya</button>
</a>
</div>


    <!-- javaScript for Toggle Menu -->
    <script src="MenuToggle.js">
    </script>
</html>
